@import 'HidePlaceholder';
        button:focus {
        outline: 0 auto -webkit-focus-ring-color
        }
        a {
        @include transition (transition-duration, .5s ease);
        text-decoration: none !important;
        cursor: pointer;
        }
         a:hover, a:focus{
               text-decoration: none !important;
        }
        ul, ol {
        list-style: none;
        padding-right: 0
        }
        ::selection {
          background:$secondColor;
          color: white;
          text-shadow: none;
        }
        ::-webkit-selection{
          @extend ::selection;
        }
   %backgroundcover {
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
    }
   body {
        background: #e6ebf5;
        font-family: "Tajawal-Medium", Arial, sans-serif;
        overflow-x: hidden !important;
        direction: $direction;
        }


        .seetings{
          width: 50px;
          height: 50px;
          border-radius: 6%;
          text-align: center;

          position: fixed;
          right: 2px;
          bottom: 50px;    padding: 10px;
          cursor: pointer;
          display: none;

          border: 1px solid  $secondColor;
          -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
          -moz-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
          -ms-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
          transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);


          #scroll-top {
            display: block;
            padding: 5px;
            color: #fff;
            @include transition (transition-duration, .5s ease);
            position: absolute;
            top: 3px;
            right: 4px;
            background:  $secondColor;
            &:hover{
              background: $thColor;
            }

            }

            a{
              color: #c83b1f;
            }


             i{
               vertical-align: middle;
               -webkit-transform:  translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 43deg) scale3d(1, 1, 1);
               -moz-transform:   translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 43deg) scale3d(1, 1, 1);
               -ms-transform:   translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 43deg) scale3d(1, 1, 1);
               transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 43deg) scale3d(1, 1, 1);
               top: 13px;
                right: -17px;
                position: relative;

             }

        }
        @media (max-width: 800px) {
          .seetings {
            display: none !important;
          }
        }



    .sectiontit {
      border-bottom: 1px solid rgba(168, 137, 46, 0.2);
      margin-bottom: 20px;
      display: block;
      img{
        width:35px;
      }
      a {
        &:link, &:visited {
          color: #a48a3f;
          font-size: 20px;
          font-weight: 600;
          margin: 0;
          transition: all .3s ease-out;
          display: block;
          position: relative;
          padding: 0 0 10px 0;
        }
        &:after {
          content: "";
          width: 175px;
          height: 4px;
          background-color: #a48a3f;
          position: absolute;
          bottom: -2px;
          right: 0;
          transition: all .3s ease-out;
        }
      }
    }


// check if it has [ title , alt , href ]


      // a[alt=""],
      // a:not([alt]){
      //   border:1px solid red;
      // }

      // a[href=""],
      // a:not([href]){
      //   border:1px solid rgb(0, 217, 255);
      // }

      // img[title=""],
      // img:not([title]){
      //   border:1px solid green;
      // }
