         .left{
           text-align: $alignleft;
            img{
              width: 100px;
             }
           .vLogo{  width: 66px;}
          a{color: #fff;}
          span{
            background: $goldColor;
            font-weight: 800;
            @include transition (transition-duration, 3s ease);
            font:$largeFont;
            padding: 8px 10px 3px 9px;
            &:hover{
              background: $thColor;
            }


          }
         }
        @media (max-width: 500px) {
         .left{
           text-align: center;
         }

        }
