                .headertop{
                @include prefix ( animation, colorchange 50s ,  moz o ms webkit );
                top:0;
                bottom: 0;
                right:0;
                width:100%;
                height: 100vh !important;
                @include background-gradient(rgba(27,72,61,1) 0%,  rgba(22,49,81,1) 61% ,rgba(22,49,81,1) 100%,  '');

                .overlay{
                @include overlaymix ;
                background: url(../images/dinMainBG.png)   no-repeat center center ;
                position: absolute;
                opacity: .1;
                z-index: 4;
                        }

                .headcont{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img{
                width: 330px;
                }
                }

                @include keyfanimation(colorchange){
                0%   {background: #82b569; }
                20%  {background: #c83b1f; }
                30%  {background: #43518f; }
                40%  {background: #000; }
                50%  {background: #5e575f; }
                60%  {background: #301e21; }
                70% {background: #1a667e; }
                80% {background: #ceaa16; }
                90% {background: #252f58; }
                100% {background: #290558; }
                }

                }



                @media (min-width: 460px){

                        .headcont{
                        height: 70vh;
                        }

                        }

                @media (max-width: 600px){
                        .headertop{
                        width: 92% !important;
                        }
                                .headcont{
                                height: 15vh;
                                        img{
                                        width: 200px;
                                        }
                                        }

                                        .overlay{
                                                width: 92% !important;
                                        }

                                            }

