
//  start navbarcontainer
.navbar{
@include prefix ( box-shadow, 0 6px 14px 0 rgba(52,69,88,0.08),  moz o ms webkit );
background: url(../images/left-bg.png) #fff no-repeat left;
}

//  start newsAdv
#newsAdv{
padding: 50px 0;
text-align: right;
h5{
  font-weight: 700;
color: #2e6ec2;
}

// start news
.news{
max-height: 400px;
cursor: pointer;
padding: 0;
@import 'news';

}

// start news
.ads{
max-height: 360px;
@import 'advert';
}

}



      @media (max-width:776px) {
        .navbar{
          margin: 10px 0 0 0;
        }
        #newsAdv { padding: 10px 0; }
        .news { padding: 20px !important;
          margin: 0 0 5px 0 !important;
        }
        .carousel-indicators { display: none;}
        .adcarobg{
          margin: 0 0 20px 0 !important;
        }
        .carousel-control-next{
          right: -77px;
        }

       }
