#mainfooter{
    color:#fff;
    background-image: -moz-linear-gradient(137deg, #01377f 40%, #1552a2 19%);
    background-image: -webkit-linear-gradient(137deg, #01377f 40%, #1552a2 19%);
    background-image: -ms-linear-gradient(137deg, #01377f 40%, #1552a2 19%);
    background-image: linear-gradient(137deg, #01377f 40%, #1552a2 19%);

span{
    font-size: 13px;
}


}